* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}


.color1 {
  background-color: #0e255a;
}

.color2 {
  background-color: #6d70ba;
}

.color3 {
  background-color: #a499d4;
}

.color4 {
  background-color: #d5c6f0;
}

.color5 {
  background-color: #fef2ff;
}

body {
  margin-top: 0;
}

.portada {
  background-image: url(../imagenes/Rstats.jpg); 
  background-size: 100% auto;
 background-position: center top;
 background-repeat: no-repeat;
}

.nombre {
  color: #fef2ff;
} 
 

.ocupacion {
  color: #fef2ff;
}

.datospersonales {
  color: #375b80;
}

.educacion {
  color: #375b80;
}

.idiomas {
  color: #375b80;
}

.experiencia {
  color: #375b80;
}
.softwares-habilidades{
  color: #375b80;
}

